#title{
width:100px;
    
    
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret .80s step-end infinite;
  animation-iteration-count: infinite;
    
}
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
    
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black;}
}
#quote{
    color: yellow;
    background-color: black;
    width:250px;
}
#intro{
    width: 500px;
    background-color: darksalmon;
}


.glitch {
      
	 color: white;
	 font-size: 50px;
	 position: relative;
	 width: 400px;
	 margin: 0 auto;
}
 @keyframes noise-anim {
	 0% {
		 clip-path: inset(67% 0 19% 0);
	}
	 5% {
		 clip-path: inset(69% 0 8% 0);
	}
	 10% {
		 clip-path: inset(2% 0 89% 0);
	}
	 15% {
		 clip-path: inset(10% 0 52% 0);
	}
	 20% {
		 clip-path: inset(12% 0 7% 0);
	}
	 25% {
		 clip-path: inset(85% 0 1% 0);
	}
	 30% {
		 clip-path: inset(73% 0 10% 0);
	}
	 35% {
		 clip-path: inset(54% 0 34% 0);
	}
	 40% {
		 clip-path: inset(4% 0 26% 0);
	}
	 45% {
		 clip-path: inset(80% 0 16% 0);
	}
	 50% {
		 clip-path: inset(100% 0 1% 0);
	}
	 55% {
		 clip-path: inset(78% 0 16% 0);
	}
	 60% {
		 clip-path: inset(1% 0 82% 0);
	}
	 65% {
		 clip-path: inset(35% 0 18% 0);
	}
	 70% {
		 clip-path: inset(39% 0 41% 0);
	}
	 75% {
		 clip-path: inset(67% 0 5% 0);
	}
	 80% {
		 clip-path: inset(23% 0 38% 0);
	}
	 85% {
		 clip-path: inset(100% 0 1% 0);
	}
	 90% {
		 clip-path: inset(14% 0 53% 0);
	}
	 95% {
		 clip-path: inset(84% 0 13% 0);
	}
	 100% {
		 clip-path: inset(51% 0 36% 0);
	}
}
 .glitch::after {
	 content: attr(data-text);
	 position: absolute;
	 left: 2px;
	 text-shadow: -1px 0 red;
	 top: 0;
	 color: white;
	 transform: translateX(10px);
	 overflow: hidden;
	 animation: noise-anim 2s infinite linear alternate-reverse;
}
 @keyframes noise-anim-2 {
	 0% {
		 clip-path: inset(18% 0 4% 0);
	}
	 5% {
		 clip-path: inset(7% 0 3% 0);
	}
	 10% {
		 clip-path: inset(45% 0 11% 0);
	}
	 15% {
		 clip-path: inset(49% 0 6% 0);
	}
	 20% {
		 clip-path: inset(66% 0 5% 0);
	}
	 25% {
		 clip-path: inset(9% 0 55% 0);
	}
	 30% {
		 clip-path: inset(73% 0 4% 0);
	}
	 35% {
		 clip-path: inset(21% 0 37% 0);
	}
	 40% {
		 clip-path: inset(71% 0 7% 0);
	}
	 45% {
		 clip-path: inset(94% 0 6% 0);
	}
	 50% {
		 clip-path: inset(70% 0 13% 0);
	}
	 55% {
		 clip-path: inset(32% 0 48% 0);
	}
	 60% {
		 clip-path: inset(66% 0 26% 0);
	}
	 65% {
		 clip-path: inset(64% 0 15% 0);
	}
	 70% {
		 clip-path: inset(100% 0 1% 0);
	}
	 75% {
		 clip-path: inset(33% 0 46% 0);
	}
	 80% {
		 clip-path: inset(62% 0 21% 0);
	}
	 85% {
		 clip-path: inset(17% 0 24% 0);
	}
	 90% {
		 clip-path: inset(63% 0 19% 0);
	}
	 95% {
		 clip-path: inset(76% 0 15% 0);
	}
	 100% {
		 clip-path: inset(76% 0 11% 0);
	}
}
 .glitch::before {
	 content: attr(data-text);
	 position: absolute;
	 left: -2px;
	 text-shadow: 1px 0 blue;
	 top: 0;
	 color: white;
	 transform: translateX(13px);
	 overflow: hidden;
	 animation: noise-anim-2 15s infinite linear alternate-reverse;
}


#earlylife{
    
    background-color:antiquewhite;
}